</br>
<section class="py-5 container formularioRegistro">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form for="nombre" class="formulario row g-3 " action="/admin/mascotas/agregar" method="post">
        <h2>Registrar animal perdido</h2>

        <div class="col-md-12 mb-3">
          <label for="imagenMascota" class="form-label">Selecciona una imagen:</label>
          <input type="file" class="form-control-file" id="imagenMascota" name="image" />
        </div>

        <div class="row">
          <div class="col-md-6">
            <fieldset class="col-md-12 border p-3 mb-3" style="height: 450px;">
              <div class="row">
                <div class="col-md-8">
                  <legend class="h5">Datos del Contacto:</legend>
                </div>
                <div class="col-md-4">
                  <label>
                    Es el Dueño?
                    <input type="checkbox">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" />
                </div>
                <div class="col-md-6">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Apellido" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="col-md-6">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input type="number" class="form-control" id="telefono" placeholder="Telefono" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="ciudad" class="form-label">Provincia</label>
                  <input type="text" class="form-control" id="ciudad" placeholder="Provincia" />
                </div>
                <div class="col-md-6">
                  <label for="localidad" class="form-label">Localidad</label>
                  <input type="text" class="form-control" id="localidad" placeholder="Localidad" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="calle" class="form-label">Calle</label>
                  <input type="text" class="form-control" id="calle" placeholder="Calle" />
                </div>
                <div class="col-md-6">
                  <label for="numero" class="form-label">Número</label>
                  <input type="text" class="form-control" id="numero" placeholder="Número" />
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset class="border p-3" style="height: 450px;">
              <div class="row">
                <div class="col-md-8">
                  <legend class="h5">Datos de la Mascota:</legend>
                </div>
                <div class="col-md-4">
                  <label>
                    Sigue Perdido?
                    <input type="checkbox">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre_mascota" />
                </div>
                <div class="col-md-6">
                  <label for="raza" class="form-label">Raza</label>
                  <input type="text" class="form-control" id="raza" placeholder="Raza" name="raza" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Especie</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre_mascota" />
                </div>
                <div class="col-md-6">
                  <label for="raza" class="form-label">Color ojos</label>
                  <input type="text" class="form-control" id="raza" placeholder="Raza" name="raza" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Pelaje Tipo</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre_mascota" />
                </div>
                <div class="col-md-6">
                  <label for="raza" class="form-label"> Pelaje Color</label>
                  <input type="text" class="form-control" id="raza" placeholder="Raza" name="raza" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Tamaño</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre_mascota" />
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="caracteristicas">Otras Características</label>
                <textarea class="form-control" id="caracteristicas" rows="3"></textarea>
              </div>
            </fieldset>
          </div>
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-primary botonRegistrar">Registrar mascota perdida</button>
        </div>
      </form>

    </div>
  </div>
</section>