<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/fontawesome-free/css/fontawesome.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/fontawesome-free/css/all.min.css">

  </head>
  
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark shadow-sm" style="background-color: #1a0a3e">
      <div class="container">
        <img src="/images/logo.png" alt="..." class="rounded-circle" width="55" height="55">
        <a class="navbar-brand text-white" href="#">Buscador de Mascotas</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="perdidos.html">Perdidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Encontrados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Consejos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="novedades.html">Novedades</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <main>
      <section class="py-5 text-center container">
        <div class="container">
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img src="/images/perro.png" alt="..." class="rounded-circle" width="240" height="240">
              <h2 class="fw-normal">Perdidos</h2>
              <p>En esta sesión encontrarás todos los animales reportados como perdidos.</p>
              <p><a class="btn btn-secondary" href="perdidos.html">Ver sesión &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/images/gato.png" alt="..." class="rounded-circle" width="240" height="240">
              <h2 class="fw-normal">Encontrados</h2>
              <p>En esta sesión encontrarás todos los animales reportados como encontrados.</p>
              <p><a class="btn btn-secondary" href="#">Ver sesión &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/images/consejos.png" alt="..." class="rounded-circle" width="240" height="240">
              </svg>
              <h2 class="fw-normal">Consejos</h2>
              <p>Consejos para seguir ante la perdida de una mascota.</p>
              <p><a class="btn btn-secondary" href="consejos.html">Ver sesión &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      <div class="album py-5" id="cartelera">
        <div class="container">
          <div class="row row-cols-md-3">
            <div class="col">
              <div class="card shadow-sm bg-dark">
                <img src="/images/imagen1.png" class="d-block w-100" alt="..." />

                <div class="card-body">
                  <p class="card-text text-white">
                    Dalmi - Se perdió el 24/5 en Temperley a las 16:00
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">2 horas</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm bg-dark">
                <img src="/images/imagen2.png" class="d-block w-100" alt="..." />

                <div class="card-body">
                  <p class="card-text text-white">
                    Reina - Se perdió el 20/5 en Burzaco a las 17:00
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">3:30 horas</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm bg-dark">
                <img src="/images/imagen3.png" class="d-block w-100" alt="..." />

                <div class="card-body">
                  <p class="card-text text-white">
                    Rocky - Se perdio el 13/4 en Ezeiza las 12:00 aproximadamente
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                    <small class="text-muted">2 horas</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container ml-4">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 color-footer">&copy; 2023 - Buscador de Mascotas - Diseñado por Laura Vallejos</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="color-footer" href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="ms-3"><a class="color-footer" href="#"><i class="fab fa-instagram"></i></a></li>
      <li class="ms-3"><a class="color-footer" href="#"><i class="fab fa-facebook"></i></a></li>
    </ul>
  </footer>
</html>
